<!-- app/views/pages/home.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Page d'accueil</title>
</head>
<body>
  <h1>Bienvenue sur la page d'accueil !</h1>
  <p>Vous pouvez vous connecter en cliquant sur le lien ci-dessous :</p>
</body>
</html>
